<!DOCTYPE html>
<html lang="en">

<head>
    <!-- cssの読み込み -->
    <div id="parent" th:replace="@{/common/include_css}"></div>  
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

		<!-- サイドバー -->
	    <div id="parent" th:replace="@{/common/sidebar}"></div>  

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <div id="parent" th:replace="@{/common/navbar}"></div>  
            <!-- Navbar End -->


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
	                <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-10">
	                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
	                    	<h3 class="mb-4">大会作成</h3>
	                    	<form th:action="@{/torn/confirm}" method="POST" enctype="multipart/form-data"　th:object="${registerTornamentInfoForm}">
	                    		<div class="row g-2">
	                    			<div class="col-md">
				                        <div class="form-floating mb-4">
				                            <select class="form-select mb-3 w-90" id="seriesId" name="seriesId" aria-label="Floating label select series">
				                                <option selected value='-1'>指定なし</option>
												
				                            </select>
				                            <label for="seriesId">シリーズ名</label>
				                        </div>
	                    			</div>
	                    			<div class="col-md">
				                        <div class="form-floating mb-4">
				                        	<button type="button" class="btn btn-primary py-3 w-10 mb-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">新規登録</button>
				                        </div>
	                    			</div>
	                    		</div>
		                        <div class="bg-white rounded h-100 p-4 form-control mb-3">
		                            <label for="icon"class="form-label">大会バナー</label>
                                	<input class="form-control" type="file" id="icon" name="icon" placeholder="バナー" accept="image/*">
		                        </div>
		                       　<p class="errmsg" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
		                        <div class="form-floating mb-3">
		                            <input type="text" class="form-control" id="name" name="name" placeholder="大会名"　th:field="*{name}">
		                            <label for="name">大会名</label>
		                        </div>
		                        <p class="errmsg" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></p>
		                        <div class="form-floating mb-4">
		                            <input type="text" class="form-control" id="capacity" name="capacity" placeholder="定員"　th:field="*{capacity}">
		                            <label for="capacity">参加定員</label>
		                        </div>
		                        <p class="errmsg" th:if="${#fields.hasErrors('localId')}" th:errors="*{localId}"></p>
		                        <div class="form-floating mb-4">
		                            <select class="form-select mb-3" id="localId" name="localId" aria-label="Floating label select 開催地域"　th:field="*{localId}">
		                                <option value='-1' selected>開催地域</option>
		                                <option value='0'>北海道</option>
										<option value='1'>青森県</option>
										<option value='2'>岩手県</option>
										<option value='3'>宮城県</option>
										<option value='4'>秋田県</option>
										<option value='5'>山形県</option>
										<option value='6'>福島県</option>
										<option value='7'>茨城県</option>
										<option value='8'>栃木県</option>
										<option value='9'>群馬県</option>
										<option value='10'>埼玉県</option>
										<option value='11'>千葉県</option>
										<option value='12'>東京都</option>
										<option value='13'>神奈川県</option>
										<option value='14'>新潟県</option>
										<option value='15'>富山県</option>
										<option value='16'>石川県</option>
										<option value='17'>福井県</option>
										<option value='18'>山梨県</option>
										<option value='19'>長野県</option>
										<option value='20'>岐阜県</option>
										<option value='21'>静岡県</option>
										<option value='22'>愛知県</option>
										<option value='23'>三重県</option>
										<option value='24'>滋賀県</option>
										<option value='25'>京都府</option>
										<option value='26'>大阪府</option>
										<option value='27'>兵庫県</option>
										<option value='28'>奈良県</option>
										<option value='29'>和歌山県</option>
										<option value='30'>鳥取県</option>
										<option value='31'>島根県</option>
										<option value='32'>岡山県</option>
										<option value='33'>広島県</option>
										<option value='34'>山口県</option>
										<option value='35'>徳島県</option>
										<option value='36'>香川県</option>
										<option value='37'>愛媛県</option>
										<option value='38'>高知県</option>
										<option value='39'>福岡県</option>
										<option value='40'>佐賀県</option>
										<option value='41'>長崎県</option>
										<option value='42'>熊本県</option>
										<option value='43'>大分県</option>
										<option value='44'>宮崎県</option>
										<option value='45'>鹿児島県</option>
										<option value='46'>沖縄県</option>
		                            </select>
		                            <label for="localId">開催地域</label>
		                        </div>
		                        <p class="errmsg" th:if="${#fields.hasErrors('eventDate')}" th:errors="*{eventDate}"></p>
		                        <div class="form-floating mb-4">
		                            <input type="date" class="form-control" id="eventDate" name="eventDate" placeholder="開催日" pattern="\d{4}-\d{2}-\d{2}" th:field="*{eventDate}">
		                            <label for="eventDate">開催日</label>
		                        </div>
		                        <p class="errmsg" th:if="${#fields.hasErrors('regulation')}" th:errors="*{regulation}"></p>
		                        <div class="form-floating mb-4">
		                            <select class="form-select mb-3" id="regulation" name="regulation" aria-label="Floating label select レギュレーション" th:field="*{regulation}">
		                                <option value='-1' selected>レギュレーション</option>
		                                <option value='0'>スタンダード</option>
										<option value='1'>エクストラ</option>
										<option value='2'>特殊</option>
		                            </select>
		                            <label for="regulation">レギュレーション</label>
		                        </div>
		                        <p class="errmsg" th:if="${#fields.hasErrors('method')}" th:errors="*{method}"></p>
		                        <div class="form-floating mb-4">
		                            <select class="form-select mb-3" id="method" name="method" aria-label="Floating label select regist_type" th:field="*{method}">
		                                <option value='-1' selected>大会方式</option>
		                                <option value='0'>スイスドローのみ</option>
										<option value='1'>トーナメントのみ</option>
										<option value='2'>リーグ戦のみ</option>
		                                <option value='3'>スイスドロー＆トーナメント</option>
		                                <option value='4'>スイスドロー＆スイスドロー</option>
										<option value='5'>リーグ戦＆トーナメント</option>
		                            </select>
		                            <label for="method">大会方式</label>
		                        </div>
		                        <p class="errmsg" th:if="${#fields.hasErrors('registerTyp')}" th:errors="*{registerTyp}"></p>
		                        <div class="form-floating mb-4">
		                            <select class="form-select mb-3" id="registerTyp" name="registerTyp" aria-label="Floating label select regist_type" th:field="*{registerTyp}">
		                                <option value='-1' selected>抽選方法</option>
		                                <option value='0'>先着順</option>
										<option value='1'>抽選</option>
		                            </select>
		                            <label for="registerTyp">抽選方法</label>
		                        </div>
		                        <p class="errmsg" th:if="${#fields.hasErrors('deckLimit')}" th:errors="*{deckLimit}"></p>
		                        <div class="mb-4 form-check form-switch">
		                            <input type="checkbox" class="form-check-input" id="deck" name="deck" role="switch">
		                            <label class="form-check-label" for="deck">デッキ登録を必須にする</label>
		                            <input type="datetime-local" class="form-control" id="deckLimit" name="deckLimit" placeholder="エントリー開始日時" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}" th:field="*{deckLimit}">
		                            <label for="deckLimit">デッキ登録締め切り</label>
		                        </div>
		                        <p class="errmsg" th:if="${#fields.hasErrors('publicstart')}" th:errors="*{publicstart}"></p>
		                        <div class="form-floating mb-4">
		                            <input type="datetime-local" class="form-control" id="publicstart" name="publicstart" placeholder="情報公開日" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}" th:field="*{publicstart}">
		                            <label for="publicstart">情報公開日</label>
		                        </div>
		                        <p class="errmsg" th:if="${#fields.hasErrors('entryStartTime')}" th:errors="*{entryStartTime}"></p>
		                        <div class="form-floating mb-4">
		                            <input type="datetime-local" class="form-control" id="entryStartTime" name="entryStartTime" placeholder="エントリー開始日時" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}" th:field="*{entryStartTime}">
		                            <label for="entryStartTime">エントリー開始日時</label>
		                        </div>
		                        <p class="errmsg" th:if="${#fields.hasErrors('entryEndTime')}" th:errors="*{entryEndTime}"></p>
		                        <div class="form-floating mb-4">
		                            <input type="datetime-local" class="form-control" id="entryEndTime" name="entryEndTime" placeholder="エントリー締め切り日時" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}" th:field="*{entryEndTime}">
		                            <label for="entryEndTime">エントリー締め切り日時</label>
		                        </div>
		                        <p class="errmsg" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
		                        <div class="form-floating mb-4">
		                        	<textarea class="form-control" name="description" placeholder="Leave a comment here"
                                    		id="description" style="height: 300px;" th:field="*{description}"></textarea>
		                            <label for="description">詳細</label>
		                        </div>
		                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">登録</button>
	                        </form>
	                    </div>
	                </div>
	            </div>
            </div>
            <!-- Sale & Revenue End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <div id="parent" th:replace="/common/include_js"></div>
    
	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Understood</button>
	      </div>
	    </div>
	  </div>
	</div>
</body>

</html>